<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF_8">
        <title>Situation atmosphérique</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </head>
    <body>
        
        <table>
            <tr>
                <td>Heure</td>
                <td>Température</td>
                <td>Humidité</td>
                <td>Pression</td>
            </tr>
            {% for row in atmosphere %}
            <tr>
                <td>{{ row['tim'] }}</td>
                <td>{{ row['temperature'] }}</td>
                <td>{{ row['humidite'] }}</td>
                <td>{{ row['pression'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
